services:
  xash3d:
    image: yohimik/hl-web-server:latest
    build:
      context: ../../
      dockerfile: ./docker/hl-web-server/Dockerfile
      tags:
        - yohimik/hl-web-server:latest
        - yohimik/hl-web-server:${TAG}
    restart: always
    platform: linux/386
    environment:
      PORT: 27018
      IP: 192.168.50.123
      ADMIN_USERNAME: "admin"
      ADMIN_PANEL_PASSWORD: "my_secret_password"
    volumes:
      - "./valve.zip:/xashds/public/valve.zip"
    ports:
      - "27016:27016"
      - "27018:27018"
      - "27018:27018/udp"